* {
  box-sizing: border-box;
  padding: 0px;
  margin-left: 0px;
  scroll-behavior: smooth;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Container {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory ;
  overflow-y: scroll;
}

.noScrollbar {
  scrollbar-width: none;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.section1 {
  background-color: rgb(18, 0, 94);
}

.section2 {
  background-color: green;
}

.section3 {
  background-color: grey;
}